// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  // Place all the styles related to the Users controller here.
  // They will automatically be included in application.css.
  // You can use Sass (SCSS) here: http://sass-lang.com/
  .nav-div{
    width: 400px;
  }
  @media screen and (min-width: 600px){
    .nav-div{
      width:300px;
    }
  }
  .nav-item .rounded-circle{
    width: 40px;
    height: 40px;
    margin: 0;
  }
  .nav-item{
   padding-left: 50px;
 }
 .form-signin
 {
   max-width: 330px;
   padding: 15px;
   margin: 0 auto;
 }
 .form-signin .form-signin-heading, .form-signin .checkbox
 {
   margin-bottom: 10px;
 }
 .form-signin .checkbox
 {
   font-weight: normal;
 }
 .form-signin .form-control
 {
   position: relative;
   font-size: 16px;
   height: auto;
   padding: 10px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }
 .form-signin .form-control:focus
 {
   z-index: 2;
 }
 .form-signin input[type="text"]
 {
   margin-bottom: -1px;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
 }
 .form-signin input[type="password"]
 {
   margin-bottom: 10px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
 }
 .account-wall
 {
   margin-top: 20px;
   padding: 40px 0px 20px 0px;
   background-color: #f7f7f7;
   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 }
 .login-title
 {
   font-size: 30px;
   font-weight: bold;
   display: block;
 }
 .profile-img
 {
   width: 96px;
   height: 96px;
   margin: 0 auto 10px;
   display: block;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
 }
 .need-help
 {
   margin-top: 10px;
 }
 .new-account{
   padding-left: 120px;
 }
 .nav-item{
  color: white;
  font-weight: bold;
}





.nobd{
  background-color: #eee;
}
.leftpane {
  width: 15%;
  height: 100%;
  float: left;
  border-collapse: collapse;
}

.middlepane {
  margin-top: 20px;
  width: 70%;
  height: 100%;
  float: left;
  background-color: white;
  border-collapse: collapse;
/*    display: flex;
flex-wrap: wrap;*/
}

.rightpane {
  width: 15%;
  height: 100%;
  position: relative;
  float: right;
  border-collapse: collapse;
}
.nw-ct{
  padding-top: 50px;
}

.btn{
  margin-right: -10px;
}
.btn-ct{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 400px;
}
.btn-ct button{
  background-color: #365899;
}
.btn-ct button:hover {
  background-color: white;
  color: #365899;
}
.bbb{
  display: flex;
  flex-wrap: wrap;
}
.vvv{
  height: 250px;
  max-width: 50px;
}
.vvv p {
  height: 150px;
  overflow: scroll;
}
.vvv img{
/*  width: 100%
max-width: 200px;*/
width: 200px;
border-top-left-radius: 5px;
cursor: pointer;
transition: 0.3s;
}
.vvv img:hover {opacity: 0.7;}
/*.fb-photo{
  display: flex;
  margin-bottom: 20px;
  margin-left: 10px;
  border: 1px solid black;
  background-color: #eee;
}
.photo-img{
  width: 50%;
}
.photo-desc{
  margin-left: 10px;
  width: 50%;
}
.photo-desc .content {
  overflow: hidden;
}
.photo-img img{
  height: 100%;
  width: 100%
}
.photo-desc img{
  width: 18%;
  margin-top: 10px;
  }*/
  .container {
    background-color: #eee;
  }
  .img-album img{
    width: 180px;
    height: 220px;
    padding-top: 20px;
    padding-left: 10px;
  }
/*.bbb{
  display: flex;
  width: 100%;
  height: 100%;
}
*/
/* The Modal (background) */
/*.bbb{
  position: relative;
  }*/


/*.i1{
  left: 0;
  top: 0;
  position: absolute;
  transform: rotateZ(10deg);
}
.i2{
  left: 0;
  top: 0;
  position: absolute;
  transform: rotateZ(15deg);
  }*/
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
